
/* Tailwind Base Styles */
@tailwind base;

/* Tailwind Component Styles */
@tailwind components;

/* Tailwind Utility Styles */
@tailwind utilities;

/* Custom CSS */
body {
  font-family: 'Roboto', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', Helvetica, sans-serif;
}

.custom-gradient {
  background: linear-gradient(90deg, #1E3A8A, #9333EA);
}

.card-shadow {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}
